{{!-- <center class="m-5 font-bold text-3xl">NODE JS GENERATOR </center>
<a class="border px-5 py-4 m-3 bg-green-500 font-bold text-white shadow-md rounded-md" href="/pagegen">Pages</a>
<a class="border px-5 py-4 m-3 bg-green-500 font-bold text-white shadow-md rounded-md" href="/crudgen">CRUD</a> --}}

