<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  {{!-- For Syntax Highlighting --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>

<body>
  <div class="fixed top-0 pt-5 left-0 h-16 bg-white z-100 w-screen ml-3">
    <a href="/" class="font-bold text-lg pb-3 m-2">Webgen.io </a>
    <a class=" border px-3 py-1 mx-3 bg-green-300 text-black shadow-md rounded-md" href="/pagegen">Pages</a>
    <a class="border px-3 py-1 mx-3 bg-green-300 text-black shadow-md rounded-md" href="/crudgen">CRUD</a>
    <a class="border px-3 py-1 mx-3 bg-green-300 text-black shadow-md rounded-md" href="/formgen">Form</a>
    <a class="border px-3 py-1 mx-3 bg-green-300 text-black shadow-md rounded-md" href="/staticgen">Static Gen</a>
    <a class="border px-3 py-1 mx-3 bg-green-300 text-black shadow-md rounded-md" href="/generate"> Generate File</a>
    <a href="myapp.zip" download class="border px-3 py-1 mx-3 bg-green-300 text-black shadow-md rounded-md" href="/download"> Download File</a>
    <a href="/cleandir" class="border px-3 py-1 mx-3 bg-green-300 text-black shadow-md rounded-md" href="/download"> Clean Directory </a>
  </div>
  <div class="pt-24">
  {{{body}}}
  </div>
</body>

</html>