<div class="m-3">
    <h2>App Name</h2>
    <br>
    <h4>Routers</h4>
    {{#each data}}
    <a class="btn btn-primary text-white " href="/{{this.name}}s/"><strong>Users</strong></a>
    <br>
    {{/each}}
</div>